<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxt.mapper.UserMapper">


    <!--login by userName and password-->
    <select id="getUserByUser" resultType="cn.sxt.entity.Users">
          SELECT uid,username AS userName,identity,fullname AS fullName,gender,
          address,phone,roleid,userpwd AS userPwd,position FROM users
          WHERE username=#{userName} AND userpwd=#{userPwd}
    </select>
    <!--user register-->
    <insert id="addUser">
        INSERT  INTO users (username,identity,fullname,gender,address,phone,roleid,userpwd,position) VALUES(#{userName},#{identity},#{fullName},#{gender},#{address},#{phone},#{roleid},#{userPwd},#{position})
    </insert>

    <!--select user by condition-->
    <select id="selectUsersByUser" resultType="cn.sxt.entity.Users">
        SELECT uid,username AS userName,identity,fullname AS fullName,gender,
          address,phone,roleid,userpwd AS userPwd,position FROM users
           <where>
               <if test="uid!=0 and uid!=null">
                   AND uid=#{uid}
               </if>
               <if test="userName!=null and userName!=''">
                   AND username=#{userName}
               </if>
               <if test="identity!=null and identity!=''">
                   AND identity =#{identity}
               </if>
               <if test="fullName!=null  and fullName!=''">
               AND fullname =#{fullName}
           </if>
               <if test="gender!=null and gender!=''">
               AND gender =#{gender}
           </if>
               <if test="address!=null and address!=''">
               AND address =#{address}
           </if>
               <if test="phone!=null and phone!=''">
               AND phone =#{phone}
           </if>
               <if test="roleid!=0 and roleid!=null">
               AND roleid =#{roleid}
           </if>
               <if test="position!=null and position!=''">
               AND position =#{position}
           </if>

           </where>

    </select>
<!--分页查询结果-->
    <select id="getUserByPage" resultType="Users">
        SELECT uid,username AS userName,identity,fullname AS fullName,gender,
        address,phone,u.roleid,r.rolename AS roleName,userpwd AS userPwd,position FROM users u
        LEFT JOIN roles r
        ON  u.roleid = r.roleid
        <if test="user!=null">
            <where>
                <if test="user.userName!=null  and user.userName!=''">
                    AND username LIKE CONCAT('%',#{user.userName},'%')
                </if>
                <if test="user.identity!=null  and user.identity!=''">
                    AND identity LIKE CONCAT('%',#{user.identity},'%')
                </if>
                <if test="user.fullName!=null and user.fullName!=''">
                    AND fullname LIKE CONCAT('%',#{user.fullName},'%')
                </if>
                <if test="user.gender!=null and user.gender!=''">
                    AND gender=#{user.gender}
                </if>
                <if test="user.address!=null and user.address!=''">
                    AND address LIKE CONCAT('%',#{user.address},'%')
                </if>
                <if test="user.phone!=null and user.phone!=''">
                    AND phone LIKE CONCAT('%',#{user.phone},'%')
                </if>
                <if test="user.roleid!=0 and user.roleid!=null">
                    AND r.roleid=#{user.roleid}
                </if>
                <if test="user.position!=null and user.position!=''">
                    AND position LIKE CONCAT('%',#{user.position},'%')
                </if>
            </where>
        </if>

        ORDER BY uid ASC
        limit #{start},#{pageSize}
    </select>
    <!--符合条件的用户个数-->
    <select id="getUserCounts" resultType="java.lang.Integer">
        SELECT count(uid) FROM users
        <if test="user!=null">
            <where>
                <if test="user.userName!=null  and user.userName!=''">
                    AND username LIKE CONCAT('%',#{user.userName},'%')
                </if>
                <if test="user.identity!=null  and user.identity!=''">
                    AND identity LIKE CONCAT('%',#{user.identity},'%')
                </if>
                <if test="user.fullName!=null and user.fullName!=''">
                    AND fullname LIKE CONCAT('%',#{user.fullName},'%')
                </if>
                <if test="user.gender!=null and user.gender!=''">
                    AND gender=#{user.gender}
                </if>
                <if test="user.address!=null and user.address!=''">
                    AND address LIKE CONCAT('%',#{user.address},'%')
                </if>
                <if test="user.phone!=null and user.phone!=''">
                    AND phone LIKE CONCAT('%',#{user.phone},'%')
                </if>
                <if test="user.roleid!=0 and user.roleid!=null">
                    AND roleid=#{user.roleid}
                </if>
                <if test="user.position!=null and user.position!=''">
                    AND position LIKE CONCAT('%',#{user.position},'%')
                </if>
            </where>
        </if>
    </select>
    <!--更新用户信息-->
    <update id="updateUser">
           UPDATE users
           <set>
               <if test="userName!=null and userName!=''">
                    username=#{userName},
               </if>
               <if test="identity!=null and identity!=''">
                    identity =#{identity},
               </if>
               <if test="fullName!=null  and fullName!=''">
                    fullname =#{fullName},
               </if>
               <if test="gender!=null and gender!=''">
                    gender =#{gender},
               </if>
               <if test="address!=null and address!=''">
                    address =#{address},
               </if>
               <if test="phone!=null and phone!=''">
                    phone =#{phone},
               </if>
               <if test="roleid!=0 and roleid!=null">
                    roleid =#{roleid},
               </if>
               <if test="position!=null and position!=''">
                    position =#{position},
               </if>
               <if test="userPwd!=null and userPwd!=''">
                   userpwd=#{userPwd},
               </if>
           </set>
       <where>
           <if test="uid!=0 and uid!=null">
                AND uid = #{uid}
           </if>
           <if test="userName!='' and userName!=null">
               AND username = #{userName}
           </if>
       </where>
    </update>
    <!--删除用户-->
    <delete id="deleteUser">
        DELETE FROM users
        <where>
            <if test="uid!=0">
                AND uid=#{uid}
            </if>
            <if test="userName!=null and userName!=''">
                AND username=#{userName}
            </if>
            <if test="identity!=null and identity!=''">
                AND identity =#{identity}
            </if>
            <if test="fullName!=null  and fullName!=''">
                AND fullname =#{fullName}
            </if>
            <if test="gender!=null and gender!=''">
                AND gender =#{gender}
            </if>
            <if test="address!=null and address!=''">
                AND address =#{address}
            </if>
            <if test="phone!=null and phone!=''">
                AND phone =#{phone}
            </if>
            <if test="roleid!=0 and roleid!=null">
                AND roleid =#{roleid}
            </if>
            <if test="position!=null and position!=''">
                AND position =#{position}
            </if>
        </where>
    </delete>

    <select id="selectUserById" resultType="cn.sxt.entity.Users" >
          SELECT uid,username AS userName,identity,fullname AS fullName,gender,
        address,phone ,roleid,userpwd AS userPwd,position FROM users
        where uid = #{uId}
    </select>
    <!--22222222222-->
</mapper>